---
export interface Props {
  title?: string;
  description?: string;
  author?: string;
  canonicalURL?: string;
}

const {
  title = 'Mihir Desai',
  description = 'Software Developer',
  author = 'Mihir Desai',
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <!-- <meta property="og:image" content={socialImageURL} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={canonicalURL} />
    <!-- <meta property="twitter:image" content={socialImageURL} /> -->
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'InterVariable';
    src: url('/fonts/InterVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --zinc-100: #f4f4f5;
    --zinc-400: #a1a1aa;
    --zinc-800: #27272a;
    --zinc-900: #18181b;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'InterVariable', system-ui, sans-serif;
    background: var(--zinc-900);
    color: var(--zinc-100);
  }
</style>

<style></style>
