---
import '../styles/global.css';

import DitherBackground from '@components/DitherBackground';

export interface Props {
  title?: string;
  description?: string;
  author?: string;
  canonicalURL?: string;
}

const {
  title = 'Mihir Desai',
  description = 'Software Developer',
  author = 'Mihir Desai',
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-zinc-900 text-zinc-100">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <!-- <meta property="og:image" content={socialImageURL} /> -->

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:url" content={canonicalURL} />
    <!-- <meta property="twitter:image" content={socialImageURL} /> -->
  </head>
  <body>
    <DitherBackground
      client:idle
      waveColor={[0.5, 0.5, 0.5]}
      disableAnimation={false}
      enableMouseInteraction={true}
      mouseRadius={0.3}
      colorNum={4}
      waveAmplitude={0.3}
      waveFrequency={3}
      waveSpeed={0.07}
    />
    <div class="relative z-[1]">
      <slot />
    </div>
  </body>
</html>
